include README.md
include LICENSE
include requirements.txt
recursive-include v_ase/static *.html *.css *.js
recursive-include v_ase/static/vendor *
recursive-include docs *.md *.png
recursive-include examples *.py
recursive-include scripts *.py
